<form action="{{ url_for('pastes_index') }}" method="post" novalidate>
    {{ pasteform.csrf_token }}
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text text-center" id="btnGroupAddon">TXT</div>
        </div>
        {{ pasteform.content(class="form-control") }}
        <span class="input-group-append input-group-btn">
            <input id="content" type="submit" class="btn btn-primary" value="Paste" style="width: 100px">
        </span>
    </div>
    <small id="contentHelp" class="form-text text-muted">Text Content to Paste.</small>
{%   if pasteform.content.errors %}
{%     for error in pasteform.content.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span type="button" class="close" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>{{ error }}</strong>
    </div>
{%     endfor %}
{%   endif %}
</form>
