<form action="{{ url_for('pastes_index') }}" method="POST">
    {{ pasteform.csrf_token }}
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text text-center" id="btnGroupAddonPaste">TXT</div>
        </div>
        {{ pasteform.content(class="form-control") }}
        <span class="input-group-append input-group-btn">
            <button id="content_paste" type="submit" class="btn btn-primary twoToneButton ld-ext-right"
                style="width: 100px">Paste it!
                <div class="ld ld-ring ld-spin"></div>
            </button>
        </span>
    </div>
    <small id="contentHelp" class="form-text text-muted">Text Content to Paste.</small>
{%     if pasteform.content.errors %}
{%     for error in pasteform.content.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span type="button" class="close" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>{{ error }}</strong>
    </div>
{%     endfor %}
{%     endif %}
</form>
