{% extends "layout.html" %}

{% block body_content %}
<div class="container">
    <div class="text-center">
        <h4 class="display-4"><span class="text-info">Ctrl</span> the power of pastes</h4>
    </div>
    <div class="container">
        <div class="card-header">
            <h6>Simple, Fast, User Friendly, Reliable: <span class="text-info" style="text-decoration: none; max-width: 100%;">Pasted!</span></h6>
        </div>
        <div class="card-body">
            <h5 class="card-title">Tools made for users, with users in mind.</h5>
            <p class="card-text">Tell a story, brand content, and share. Pasted is a set tools with a focus on UX and an aim to make work a little easier for everyone.</p>
        </div>
    </div>
</div>
{% endblock %}
