{% extends "layout.html" %}

{% block paste_body_content %}
        <form action="{{ url_for('index') }}" method="post">
            {{ form.csrf_token }}
            <fieldset>
                {{ form.content(class='input-block-level') }}
{%   if form.content.errors %}
{%     for error in form.content.errors %}
                    <span class="help-block">{{ error }}</span>
{%     endfor %}
{%   endif %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" style="float: right;">Paste <i class="icon-chevron-right icon-white"></i></button>
                    <pre class="text-left muted" style="display: inline-block; border: none; margin: 0; padding: 0;"><code><span class="muted">$</span> pip install <a class="text-info" style="text-decoration: none;" href="https://pypi.python.org/pypi/pasted">pasted</a>; echo "Lorem ipsum." | pasted <a href="https://cdn.pasted.tech/d363e6857bb08ddc400611a5308996aa64982551">https://cdn.pasted.tech/d363e6857bb08ddc400611a5308996aa64982551</a></code></pre>
                </div>
            </fieldset>
        </form>
{% endblock %}
