<!DOCTYPE html>
<!doctype html>
<html lang="en">
{% include 'header.html' %}
    <body>
        <main id="site-main" class="site-main outer" role="main">
            <header>
                <legend class="pasted-container legend">
                    <a class="text-info" style="text-decoration: none; max-width: 100%;" href="{{ url_for('index') }}">Pasted </a>
                    <span class="small text-muted">paste services for humans</span>
                </legend>
            </header>
            <div class="container-fluid">
{% block body_content %}{% endblock %}
            </div>
        </main>
        <br />
        <br />
        <br />
        <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-info" href="{{ url_for('index') }}"><strong>Home</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('links_index') }}">URL-Shortener</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('pastes_index') }}">Pastes</a>
                    </li>
                    <li class="nav-item dropup">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Information
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('show_usage_api') }}">Using the API</a>
                            <a class="dropdown-item" href="{{ url_for('show_usage_cli_client') }}">Using the Python Client</a>
                            <a class="dropdown-item" href="{{ url_for('show_usage_browser_plugin') }}">Using the Browser Plugin</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('show_tos') }}">Terms of Service</a>
                        </div>
                    </li>
                </ul>
                <small class="float-right">Powered by: <img src="{{ url_for('static', filename='img/OpenStack-Logo-Horizontal.png') }}" alt="OpenStack Logo" style="width: 75px;"></small>
            </div>
        </nav>

{% include 'footer.html' %}
    </body>
</html>
