{% extends "layout.html" %}

{% block title %}Paste Not Found{% endblock %}
{% block paste_body_content %}
{% set url_home = url_for('index') %}

{%   with messages = get_flashed_messages(with_categories=true) %}
{%     if messages %}
{%       for category, message in messages %}
<div class="alert alert-{{ category }}">
    <h2>{{ message }}</h2>
</div>
{%       endfor %}
{%     else %}
<div class="alert alert-dark">
    <h2>What you're looking for can not be found</h2>
</div>
{%     endif %}
{%   endwith %}

<hr/>
<input class="btn btn-primary" style="float: left;" type="button" onclick="location.href='{{ url_home }}';" value="Go Home" />
{% endblock %}
